
@media screen and (max-width: 600px){

    body{
        margin: 0;
        padding: 0;
    }

    #side-bar{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 3;
        box-sizing: border-box;
    }

    .icon{
        display: block;
    }

    #side-bar-links{
        display: none;
    }


    #sidebar-head{
        margin-bottom: 0;
    }

    .sidebar-item{
        display: flex;
        flex-direction: column;
        width: 400px;
    }

    .nav{
        position: relative; 
        flex-direction: column;
        width:100%;
        text-align: center;
        height: 227px;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
    }

    .nav1{
        width: 100%
    }

    .searchbar{
        width: 100%;
        height: 34px;
        padding: 10px 7px 5px;
    }

    .searchbar input[type=text]{
        width: 80%;
        font-size: 20px;
        height: 80%;
       
    }

    .searchbar button{
        height: 100%;
        width: 43px;
    }

    .nav2{
        width: 100%;
    }

    #sub-nav{
        position: relative;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        height: 124px;
        padding: 15px;
        top: 20px;
    }

    .sub-nav1{
        width: 100%;
    }

    #side-bar a{
        float: left;
        /*font-size: 8px;*/
    }

    div.left-margin{
        margin-left: 0;
        margin-top: 82px;
    }

    .main-box{
        padding: 15px;
        position: relative;
        top: 50px;
    }

    .main{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        box-sizing: border-box;
        overflow: hidden;
        overflow-x: scroll;
        margin-left: 0px;
        position: static;
        border-radius: 25px;
    }
    
    #side-bar a{
        float:none;
    }

    .main-item{
        width: 100%;
        display: flex;
    }

    .modal{
        display: none;
        position: fixed;
        padding-top: 25%;
        padding-left: 0px;
        z-index: 1;
        width: 100%;
        height: 700px;
        top: 0px;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }
    
    .modal-content{
        background-color: #fefefe;
        margin: auto;
        padding: 30px;
        /*border: 1px solid #888;*/
        font-family: 'Alata', 'sans-serif';
        border-radius: 20px;
        width: 80%;
        box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.4);
    }

    .tags{
        display: grid;
        grid-template-columns: 20px 1px 20px 1px;
    }
}

@media screen and (max-width: 407px){
    .title{
        font-size:13px;
    }

    .searchbar input[type=text]{
        width: 70%;
    }
}

@media screen and (max-width: 329px){
    .title{
        font-size: 11px;
    }

    #sub-nav select{
        font-size: 16px;
    }

    .profiles{
        width: 30px;
        height:30px;
        border-radius: 10px;
    }

    .new-profile{
        width: 30px;
        height:30px;
        border-radius: 10px;
    }

    .menubtn{
        font-size: 12px;
    }

    .tags{
        display: grid;
        grid-template-columns: 20px 1px 20px 1px;
    }

    .modal-content{
        width: 75%;
    }

    

    
}

@media screen and (max-width: 280px){
    .title{
        font-size: 9px;
    }

    .pronum{
        font-size: 12px;
    }

    .searchbar input[type=text]{
        width: 67%;
    }

    .new{
        height: 40px;
        width: 40px;
    }

    .profile-pic{
        height: 40px;
        width: 40px;
        border-radius: 14px;
    }

    .profile{
        width: 60%;
        height: 100%;

    }

    .profile-item{
        font-size: 11px;
        align-items: baseline;
        height: 38px;
    }

    .profile-item a{
        font-size:9px;
    }

    .menubtn{
        font-size: 10px;
        padding: 6px 8px;
    }

    .modal{
        display: none;
        position: fixed;
        padding-top: 65%;
        padding-left: 0px;
        z-index: 1;
        width: 100%;
        height: 700px;
        top: 0px;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }
    
    .modal-content{
        background-color: #fefefe;
        margin: auto;
        padding: 30px;
        /*border: 1px solid #888;*/
        font-family: 'Alata', 'sans-serif';
        border-radius: 20px;
        width: 70%;
        box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.4);
    }

    .tags{
        display: grid;
        grid-template-columns: 30px 1px 20px 1px;
    }

    .wide{
        width: 50%;
    }

    
}

@media screen and (max-width: 260px){
    .searchbar input[type=text]{
        width: 65%;
    }

    .profile-item{
        font-size: 10px;
    }

    #sub-nav select{
        font-size: 15px;
    }

    .profiles{
        width: 25px;
        height: 25px;
        border-radius: 8px;
    }

    .new-profile{
        width: 25px;
        height: 25px;
        border-radius: 8px;
    }

    .menubtn{
        padding: 6px 7px;
    }
}
