body{
    margin: 0;
    padding: 0;
    
}
#side-bar{
    padding: 22px 20px ;
    background-color: #f8f9fd;
    /*display: grid;*/
    position: fixed;
    top: 0;
    height: 768px;
    width: 160px;
    font-family: 'Alata', sans-serif;
    /*grid-template-rows: repeat(8, 50px);
    grid-gap: 15px;*/
}
#sidebar-head{
    font-size: 20px;
    margin-bottom: 40px;
}
#sidebar-head span{
    font-weight: bold;
    margin-left: 15px;
    color: #24242c;
}


#side-bar a{
    line-height: 25px;
    margin: 12px 5px;
    padding: 10px 5px 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    display: block;
    font-size: 14px;
}

#side-bar a span{
    color: #5d6b92;
}

#side-bar a i{
    color: #335dff;
    margin-right: 10px;
}

#side-bar a:hover{
    background-color: #335dff;
}
#side-bar a:hover i, #side-bar a:hover span{
    color: #ffffff;
}

#nav{
    position: fixed;
    left: 200px;
    /*width: 1133px;*/
    padding-left: 30px;
    padding-bottom: 10px;
    display: inline-block;
    top:0;
    border-bottom: 1.5px solid #ebeef7;
    width: 1136px;
}

#nav h1{
    display: inline;
    font-weight: 300;
    padding-right: 20px;
    font-family: 'Alata', sans-serif;
}
#nav p{
    display: inline;
    position: relative;
    border-left: 2px solid #dde0e8;
    padding-left: 20px;
    bottom: 5px;
    color: #6f7c9f;
    font-family: 'Sora', sans-serif;
}

#pro-num{
    color: #335dff;
    font-weight: bold;
}
#search-bar{
    position: relative;
    bottom: 5px;
    left: 40px;
    border-radius: 18px;
    border: 0.1px solid #e6ebf5;
    width: 230px;
    height: 22px;
    padding-top: 10px;
    padding-bottom: 17px;
    padding-right: 3px;
    padding-left: 5px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
#search-bar input[type=text]{
    border:none;
    border-left: 1.5px solid #335dff; 
    margin: 0 10px;
    text-decoration: none;
    outline: none;
}

#search-bar button{
    background-color: #335dff;
    text-decoration: none;
    color: white;
    height: 31px;
    width: 31px;
    border: 2px solid #c1d3ff;
    padding: 6px;
    border-radius: 12px;
    outline: none;
}

#nav .new{
    background-color: #335dff;
    color: white;
    margin-left:200px;
    margin-bottom: 5px;
    margin-right: 40px;
    display: inline-block;
    height: 52px;
    width: 52px;
    outline: none;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid #c1d3ff;
}

#profile{
    /*display: grid;*/
    display: inline-block;
    position: relative;
    top: 25px;
    left: 20px;
    font-family: 'Alata', sans-serif;
    /* grid-template: 1fr 1fr / 100px 80px; */
    width: 180px;
}

#profile h5{
    margin: 0;
    line-height: 2.2;
    color: #47414E;
}



#profile .settings{
    text-decoration: none;
    color:  #A4B1D1;
    font-size: 12px;
    text-align: start;
}

.profile-pic{
    width: 52px;
    height: 52px;
    display: inline-block;
    background-color: #fdbfbf;
    border-radius: 16px;
    
    /* grid-row: 1 / span 2;
    grid-column-start: 2; */
}

#sub-nav{
    padding: 20px;
    padding-left: 28px;
    position: fixed;
    width: 1126px;
    height: 37px;
    top: 99.5px;
    left: 200px;
}

#sub-nav select{
    border: none;
    font-family: 'Alata', 'sans-serif';
    outline: none;
    font-weight: 500;
    font-size: 24px;
}






