body{
    margin: 0;
    padding: 0;
    
}
#side-bar{
    padding: 22px 20px ;
    background-color: #f8f9fd;
    /*display: grid;*/
    position: fixed;
    top: 0;
    height: 768px;
    width: 160px;
    font-family: 'Alata', sans-serif;
    /*grid-template-rows: repeat(8, 50px);
    grid-gap: 15px;*/
}
#sidebar-head{
    font-size: 20px;
    margin-bottom: 40px;
}
#sidebar-head span{
    font-weight: bold;
    margin-left: 15px;
    color: #24242c;
}


#side-bar a{
    line-height: 25px;
    margin: 12px 5px;
    padding: 10px 5px 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    display: block;
    font-size: 14px;
}

#side-bar a span{
    color: #5d6b92;
}

#side-bar a i{
    color: #335dff;
    margin-right: 10px;
}

#side-bar a:hover{
    background-color: #335dff;
}
#side-bar a:hover i, #side-bar a:hover span{
    color: #ffffff;
}


.forMargin{
    margin-left: 200px;
}
.nav{
	display: flex;
    flex-direction: row;
	padding: 20px;
    justify-content: space-between;
    border-bottom: 1.5px solid #ebeef7;
}


.nav1{
	display: flex;
	flex-direction: row;
	width: 350px ;
	justify-content: space-between;
}

.title{
    align-self: center;
    font-family: 'Alata', sans-serif;
    
}

.title h1{
    margin: 0;
}
.pipe{
	background-color: #dde0e8;
	width:2px;
	height: 26px;
	align-self: center;
}

.nav1 .pronum{
    align-self: center;
    font-family: 'Sora', sans-serif;
    color: #6f7c9f;
}

#pro-num{
    color: #335dff;
    font-weight: bold;
}

.searchbar{
	border-radius: 18px;
    border: 0.1px solid #e6ebf5;
    width: 230px;
    height: 22px;
    padding-top: 10px;
    padding-bottom: 17px;
    padding-right: 3px;
    padding-left: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.searchbar input[type=text]{
    border:none;
    border-left: 1.5px solid #335dff; 
    margin: 0 10px;
    text-decoration: none;
    outline: none;
    font-size: 13px;
    padding-left: 3px;;
}

::placeholder{
    color: lightgray;
    opacity: 1;
}

.searchbar button{
    background-color: #335dff;
    text-decoration: none;
    color: white;
    height: 31px;
    width: 31px;
    border: 2px solid #c1d3ff;
    padding: 6px;
    border-radius: 12px;
    outline: none;
}

.nav2{
	display: flex;
	flex-direction: row;
	width: 304px;
	justify-content: space-between;
}

.new{
	background-color: #335dff;
    color: white;
    height: 52px;
    width: 52px;
    outline: none;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid #c1d3ff;
    cursor: pointer;
}

.profile{
	display: flex;
	flex-direction: row;
	width: 170px;
    justify-content: space-between;
    font-family: 'Alata', sans-serif;
}

.profile-item{
	display: flex;
	flex-direction: column;
	height: 48px;
    justify-content: space-around;
    
}

.profile-item a{
    text-decoration: none;
    color: #A4B1D1;
    font-size: 12px;
}

.profile-item2{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 70px;
}

.profile-pic{
	width: 52px;
    height: 52px;
    background-color: #fdbfbf;
    border-radius: 16px; 
}

.profile-item2 a{
    align-self: center;
    
}
#sub-nav{
    padding: 20px;
    padding-left: 28px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 80%;
    height: 37px;
    top: 99.5px;
    left: 200px; 
}

.sub-nav1{
    display: flex;
    width: 380px;
    justify-content: space-between;
    
}

.menubtn{
    border-radius: 12px;
    border: 1.5px solid #d7e6ff;
    outline: none;
    background-color: white;
    height: 37px;
    padding: 8px 10px;
    font-family: 'Alata', 'sans-serif';
    font-weight: thin;
    font-size: 14px;
    cursor: pointer;
}

#unqbtn{
    display: flex;
    flex-direction: row;
}

.btn4{
    background-color: #d7e6ff;
    color: #335dff;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
}

.btn42{
    background-color: white;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    color: lightgray;
}


#sub-nav select{
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 24px;
    font-family: 'Alata', 'sans-serif';
}

.divider{
    background-color: #dde0e8;
    width: 2px;
    height: 20px;
    align-self: center;
}

.profiles{
    width: 37px;
    height: 37px;
    background-color: #b6d2f3;
    border-radius: 14px;
    cursor: pointer;
}

.new-profile{
    width: 37px;
    height: 37px;
    background-color: #fdbfbf;
    border-radius: 14px;
    color: white;
    border: 2px solid #faeaea;
    cursor: pointer;
}





