body{
    margin: 0;
    padding: 0;
}

#side-bar{
    padding: 22px 20px ;
    background-color: #f8f9fd;
    /*display: grid;*/
    position: fixed;
    top: 0;
    height: 768px;
    width: 160px;
    font-family: 'Alata', sans-serif;
    /*grid-template-rows: repeat(8, 50px);
    grid-gap: 15px;*/
}

#sidebar-head{
    font-size: 20px;
    margin-bottom: 40px;
}

#sidebar-head span{
    font-weight: bold;
    margin-left: 15px;
    color: #24242c;
}

#side-bar a{
    line-height: 25px;
    margin: 12px 5px;
    padding: 10px 5px 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    display: block;
    font-size: 14px;
}

#side-bar a span{
    color: #5d6b92;
}

#side-bar a i{
    color: #335dff;
    margin-right: 10px;
}

#side-bar a:hover{
    background-color: #335dff;
}
#side-bar a:hover i, #side-bar a:hover span{
    color: #ffffff;
}

.left-margin{
    margin-left: 200px;
}

.nav{
	display: flex;
    flex-direction: row;
	padding: 20px;
    justify-content: space-between;
    border-bottom: 1.5px solid #ebeef7;
    position: fixed;
    z-index: 2;
    background-color: white;
    width: 83%;
}

.nav1{
	display: flex;
	flex-direction: row;
	width: 350px ;
	justify-content: space-between;
}

.title{
    align-self: center;
    font-family: 'Alata', sans-serif;
    
}

.title h1{
    margin: 0;
}

.pipe{
	background-color: #dde0e8;
	width:2px;
	height: 26px;
	align-self: center;
}

.nav1 .pronum{
    align-self: center;
    font-family: 'Sora', sans-serif;
    color: #6f7c9f;
}

#pro-num{
    color: #335dff;
    font-weight: bold;
}

.searchbar{
	border-radius: 18px;
    border: 0.1px solid #e6ebf5;
    width: 230px;
    height: 22px;
    padding-top: 10px;
    padding-bottom: 17px;
    padding-right: 3px;
    padding-left: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.searchbar input[type=text]{
    border:none;
    border-left: 1.5px solid #335dff; 
    margin: 0 10px;
    text-decoration: none;
    outline: none;
    font-size: 13px;
    padding-left: 3px;;
}

::placeholder{
    color: lightgray;
    opacity: 1;
}

.searchbar button{
    background-color: #335dff;
    text-decoration: none;
    color: white;
    height: 31px;
    width: 31px;
    border: 2px solid #c1d3ff;
    padding: 6px;
    border-radius: 12px;
    outline: none;
}

.nav2{
	display: flex;
	flex-direction: row;
	width: 304px;
	justify-content: space-between;
}

.nav2 i{
    align-self: center;
}

.new{
	background-color: #335dff;
    color: white;
    height: 52px;
    width: 52px;
    outline: none;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid #c1d3ff;
    cursor: pointer;
}

.profile{
	display: flex;
	flex-direction: row;
	width: 170px;
    justify-content: space-between;
    font-family: 'Alata', sans-serif;
}

.profile-item{
	display: flex;
	flex-direction: column;
	height: 48px;
    justify-content: space-around;
    
}

.profile-item a{
    text-decoration: none;
    color: #A4B1D1;
    font-size: 12px;
}

.profile-item2{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    width: 70px;
    align-items: baseline;
}

.profile-pic{
	width: 48px;
    height: 48px;
    background-color: #fdbfbf;
    border-radius: 16px; 
}

.profile-item2 a{
    align-self: center;
    
}
#sub-nav{
    padding: 20px;
    padding-left: 28px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 82%;
    height: 37px;
    z-index: 2;
    background-color: white;
    top: 94px;
}

.sub-nav1{
    display: flex;
    width: 380px;
    justify-content: space-between;
    
}

.star-btn{
    color:#335dff;
}

.menubtn{
    border-radius: 12px;
    border: 1.5px solid #e5efff;
    outline: none;
    background-color: white;
    height: 37px;
    padding: 8px 10px;
    font-family: 'Alata', 'sans-serif';
    font-weight: thin;
    font-size: 14px;
    cursor: pointer;
}

#unqbtn{
    display: flex;
    flex-direction: row;
}

.btn4{
    background-color: #e5efff;
    color: #335dff;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
}

.btn42{
    background-color: white;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    color: lightgray;
}


#sub-nav select{
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 24px;
    font-family: 'Alata', 'sans-serif';
}

.divider{
    background-color: #dde0e8;
    width: 2px;
    height: 20px;
    align-self: center;
}

.profiles{
    width: 37px;
    height: 37px;
    border-radius: 14px;
    cursor: pointer;
}

.new-profile{
    width: 37px;
    height: 37px;
    background-color: #fdbfbf;
    border-radius: 14px;
    color: white;
    border: 2px solid #faeaea;
    cursor: pointer;
}

.main{
    margin-left: 30px;
    background-color: #f8f9fd;
    position: relative;
    top: 184px;
    height: 900px;
    border-top-left-radius: 25px;
    display: grid;
    grid-template-columns: repeat(4, 230px);
    padding: 28px 28px 28px 28px;
    font-family: 'Alata', 'sans-serif';
    grid-column-gap: 30px;
}

.main-item{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 780px;
}

.main-item > div{
    margin-bottom: 20px;
}


.item-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.item-head span{
    font-size: 18px;
    font-weight: 500;
}

.item-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 210px;
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.item-card p{
    margin: 0;
}

.pic{
    height: 380px;
}

.card-img{
    height:180px;
    width: 100%;
    border-radius: 20px;
}

.bg-pink{
    background-color:  #feedf0;
}

.bg-blue{
    background-color: #ddf1ff;
}

.bg-yellow{
    background-color: #ffefd6;
}

.time{
    font-size: small;
    color: #8c99be;
    font-weight: 100;
}

.time p{
    display: inline;
    padding-left: 5px;
}

.item-card .task{
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 6px 15px;
    width: fit-content;
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
}

.design{
    background-color: #d7e6ff;
    color: #335dff;
}

.illustration{
    background-color: #dcf2e4;
    color: #42b971;
}

.research{
    background-color: #fff0f3;
    color: #fbb0bd;
}

.brand{
    background-color: #fff4e6;
    color: #feb600;
}

.separator{
    height: 1px;
    width: 100%;
    background-color: #dde0e8;
}

.card-footer{
    display: flex;
    justify-content: space-between;
}

.person{
    display: flex;
    justify-content: flex-start;
    width: fit-content;
    
}

.per{
    height: 27px;
    width: 27px;
    margin-right: 3px;
    border-radius: 8px;
    cursor: pointer;
}

.color1{
    background-color: #b6d2f3;
}

.color2{
    background-color: #ffe2ad;
}

.color3{
    background-color: #fed6c3;
}

.new-person{
    background-color: #fdbfbf;
    border: 2px solid #faeaea;
    color: white;
    font-size: 10px;
}

.status{
    display: inline-flex;
    flex-wrap: wrap;
    /*justify-content: flex-end;*/
    /* width: 70px; */
    color: #8c99be;
}

.status > div{
    margin-left: 6px;
    cursor: pointer;
}

.new-card{
    padding: 5px 30px 5px 10px;
    background-color: #e5efff;
    color: #335dff;
    border-radius: 10px;
    cursor: pointer;
}

.new-card div{
    display: inline;
    margin-left: 14px;
}

.small{
    height: 38px;
    width: 38px;
}




